@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');




* {
  margin: 2px;
  padding: 2px;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}






.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-container {
  display: flex;
  margin-top:4rem;
}
/* .flex-container > div {

} */

.flex-container img {
  width:30rem;
  border-radius: 100%;
  margin-left:3rem;
}

.flex-container p {
  width:500px;
  font-size:20px;
  margin-left:120px;
  margin-top:20px;
}

.flex-container h1 {

  margin-left:150px;
}
.topnav {
 
  overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  text-decoration: underline;
}

/* Add a color to the active/current link */


.flex-container-skills {
  display: flex;

}

.flex-container-skills > div {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.flex-container-skills img {
  max-height: 200px;
  max-width: 200px;
  object-fit: cover;
  background-size: cover;
}